main .left {
  background-color: #000000;
  position: relative;
  overflow: hidden;
}

.left .code {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4rem;
  padding: 1rem;
  background-color: #0c0c0c;
  border-radius: 0.7rem;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
}

main .left {
  background-color: #000000;
  padding: 1rem;
  position: relative;
}

.left .code {
  flex: 1;
  background-color: #0c0c0c;
  border-radius: 0.7rem;
  overflow: auto;
}

main .left .review {
  margin-top: 1rem;
  align-self: flex-end;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}

main .right {
  background-color: #343434;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  overflow: auto;
}
